*{
    box-sizing: border-box;
    color: white;
    background: black;
}
body{
    width: 600px;
    height: 600px;
}
.container{
    padding: 3px;
}
.main_button{
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
}
.loading-svg{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#summary{
    top: 20%;
    padding: 7px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.05px;
    border: 1px solid white;
}
.copy-button{
    border: 1px solid white;
    padding: 10px;
}
.hide{
    display: none;
}